<h1>Fund Us!</h1>

<div class="project">
  <% @projects.each do |project| %>
    <h3>Name: <%= project.name %></h3>
    <%= project.description %><br><br>
    <%= link_to 'Show project', project_path(project) %>
  <% end %>
</div>
